{% extends "base.html" %}

{% block index %}

<div class="container-fluid">
    <center><b><h3>Welcome</h1></b></center>
    <p style="margin: 0px; padding:0px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta delectus quis dolorem modi rem laborum beatae nostrum praesentium sint fugiat corporis, doloremque accusamus id nihil quo assumenda suscipit ut tempora?</p>
</div>
<hr>
<div class="container-fluid" style="padding: 20px; background-color: lightgreen;">
    <div class="row">
        <div class="card-columns">
            <a href="toaster_ovens" style="text-decoration: none; color: black;">
                <div class="card" style="box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);">
                    <img src="/static/images/toaster_oven.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Top Five Toaster Ovens</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </a>
            <a href="#" style="text-decoration: none; color: black;">
                <div class="card" style="box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);">
                    <img src="/static/images/watch.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Best Watches Under $100</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </a>
            <a href="#" style="text-decoration: none; color: black;">
                <div class="card" style="box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);">
                    <img src="/static/images/drill.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Top 10 Drills Under $50</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </a>
            <a href="#" style="text-decoration: none; color: black;">
                <div class="card" style="box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);">
                    <img src="/static/images/boardgames.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Greatest Games You Never Heard Of</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </a>
            <a href="#" style="text-decoration: none; color: black;">
                <div class="card" style="box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);">
                    <img src="/static/images/sneakers.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Awesome Designer Sneaker Finds</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </a>
            <a href="#" style="text-decoration: none; color: black;">
                <div class="card" style="box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);">
                    <img src="/static/images/winter_jacket.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">5 Warmest Winter Jackets</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </a>
            <a href="#" style="text-decoration: none; color: black;">
                <div class="card" style="box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);">
                    <img src="/static/images/keyboards.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Top 5 Keyboards</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </a>
            <a href="#" style="text-decoration: none; color: black;">
                <div class="card" style="box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);">
                    <img src="/static/images/air_fryer.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Best Air Fryers</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </a>
            <a href="#" style="text-decoration: none; color: black;">
                <div class="card" style="box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);">
                    <img src="/static/images/tv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Best TV's Under $500</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </a>
            <a href="#" style="text-decoration: none; color: black;">
                <div class="card" style="box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);">
                    <img src="/static/images/tech_gear.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Essential Tech Gear</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding: 20px;">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat dignissimos quidem ratione reprehenderit nostrum distinctio porro expedita suscipit itaque excepturi. Eius blanditiis voluptatem ullam aut assumenda possimus. Magni, perferendis at?</p>
</div>

{% endblock %}